html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 120px;
  font-family: 'Roboto', sans-serif !important;
}

.navbar-light {
  background-color: white;
}

.navbar-light .container {
  z-index: 2;
  align-items: flex-end;
}

.navbar-light .drop-shadow {
  position: absolute;
  height: 1.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #aaa 0%, #fff 100%);
  z-index: 1;
}

.navbar-light a {
  font-size: 1.7rem;
  white-space: nowrap;
  text-align: center;
}

.navbar-light .navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.navbar-light .navbar-nav li {
  flex: 1;
}

.nav-item {
  position: relative;
  padding: 0 .5rem;
}

.nav-item:hover .green-bar {
  display: block;
}

.nav-item .green-bar {
  display: none;
  position: absolute;
  height: .7rem;
  left: 0rem;
  right: 0rem;
  bottom: 1.5rem;
  background-color: #C0EF00 !important;
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #555;
  padding-top: 1rem;
}

.footer a {
  color: white;
  padding: 0 .5rem;
}

.footer a:hover {
  text-decoration: none;
  color: #C0EF00;
}

.contact-us {
  color: white;
}

.contact-us a {
  font-size: 1.8rem;
}

.social-media a {
  font-size: 4rem;
}

@media (max-width: 991px) { 
  body {
    margin-bottom: 0;
  }
  .navbar-light a {
    text-align: left;
  }
  .nav-item .green-bar {
    left: 0;
    right: 0;
  }
  .footer {
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #555;
  }
  .social-media a {
    font-size: 2rem;
  }
  .nav-item {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) { 
  .nav-item .green-bar {
    left: 2rem;
  }
}

