@font-face {
  font-family: FreeSans,Arial,Helvetica,sans-serif;
  src: url(../font/FreeSans.ttf);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 120px;
  font-family: FreeSans, sans-serif !important;
}

.arrow { font-family: Consolas;}
.boldfont { font-weight: bold}


.navbar-light {
  background-color: white;
  padding-bottom: 1rem;
}

.navbar-light .container {
  z-index: 2;
  align-items: flex-end;
}

.navbar-light .drop-shadow {
  position: absolute;
  height: 1.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #aaa 0%, #fff 100%);
  z-index: 1;
}

.navbar-light a {
  font-size: 1.7rem;
  white-space: nowrap;
  text-align: center;
}

.navbar-light .navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.navbar-light .navbar-nav li {
  flex: 1;
}

.nav-item {
  position: relative;
  padding: 0 .5rem;
}

.nav-item:hover .green-bar {
  display: block;
}

.nav-item .green-bar {
  display: none;
  position: absolute;
  height: .7rem;
  left: 0rem;
  right: 0rem;
  bottom: 1.5rem;
  background-color: #C0EF00 !important;
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #555;
  padding-top: 1rem;
}

.footer .row {
  padding: 0;
}

.footer a {
  color: white;
  padding: 0 .5rem;
}

.footer a:hover {
  text-decoration: none;
  color: #C0EF00;
}

.contact-us {
  color: white;
}

.contact-us a {
  font-size: 1.8rem;
}

.social-media a {
  font-size: 4rem;
}

.row {
  padding-top: 2rem;
}

.paddingtop6 {padding-top: 6rem;}

.black-box {
  height: 30rem;
  width: 100%;
  background-color: black;
  margin-bottom: 2rem;
}

h1, h2 {
  font-weight: bold;
}

h1 a {
  color: black;
}

h1 a:hover {
  color: #C0EF00;
  text-decoration: none;
}

h1 i.bar {
  color: #C0EF00;
  border-right: .8rem solid #C0EF00;
  margin-right: .5rem;
}

h1 i.green {
  font-style: normal;
  background-color: #C0EF00;
}

h1.green {
  color: #C0EF00;
}

hr {
  border-top: .8rem solid #C0EF00;
}

hr.gray {
  border-top-color: #ccc;
}

p {
  font-size: 1.6rem;
}

.dropshadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 1rem
}

.hoverable:hover {
  cursor: pointer;
}

.right-hr {
  border-right: 1px solid #C0EF00;
}

.white-background {
  background-color: #fff;
  padding-bottom: 2rem;
}

.container.dark {
  background-color: #555;
  color: white;
}

.container.dark a {
  color: #bbb;
}

.container.dark .dark-gray-text {
  color: #bbb;
}

.container.dark a:hover {
  color: #C0EF00;
  text-decoration: none;
}

.row.dark:last-child {
  padding-bottom: 2rem;
}

.buy-button {
  color: black;
  display: block;
  padding: 1rem 0 .3rem 1rem;
  margin-left: -1rem;
  margin-bottom: 2rem;
}

.buy-button p {
  color: #888;
}

.buy-button h1 {
  font-size: 2rem;
}

.buy-button:hover {
  text-decoration: none;
  background: linear-gradient(to right, #C0EF00 0%, #C0EF00 120px, #fff 31px);
}

.buy-button.small:hover {
  text-decoration: none;
  background: linear-gradient(to right, #C0EF00 0%, #C0EF00 80px, #fff 31px);
}

.buy-button:hover h1 {
  color: black;
  font-style: italic;
}

.buy-button:hover p {
  color: #888;
}

.green-link {
  color: black;
}

.green-link:hover {
  color: #C0EF00;
  text-decoration: none;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.image-overlay.pull-right {
  align-items: flex-end;
}

.main-overlay {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.main-overlay div {
  flex: 1;
  padding: 1rem;
  height: 300px;
}

.main-overlay .white-text {
  color: white;
}

.main-overlay .white-text hr {
  border-top-color: rgba(0,0,0,0);
}

@media (max-width: 991px) { 
  body {
    margin-bottom: 0;
  }
  .navbar-light a {
    text-align: left;
  }
  .nav-item .green-bar {
    left: 0;
    right: 0;
  }
  .footer {
    position: relative;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #555;
  }
  .social-media a {
    font-size: 2rem;
  }
  .nav-item {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) { 
  .nav-item .green-bar {
    left: 2rem;
  }
}

@media (min-width:992px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
}

@media (max-width: 575px) {
  .image-overlay {
    justify-content: flex-end;
    align-items: flex-end
  }
  .image-overlay.pull-right {
    align-items: flex-start;
  }
  .main-overlay .white-text {
    color: #C0EF00;
  }
}
